sudo: required

language: scala

services:
  - docker

# This version will be also tagged as 'latest'
env:
  global:
    - LATEST="2.12-2.5.0"
    - ARCHITECTURES="linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6"

# Build recommended versions based on: http://kafka.apache.org/downloads
matrix:
  include:
  - scala: 2.12
    env: KAFKA_VERSION=2.2.2
  - scala: 2.12
    env: KAFKA_VERSION=2.3.1
  - scala: 2.12
    env: KAFKA_VERSION=2.4.1
  - scala: 2.12
    env: KAFKA_VERSION=2.5.0

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - echo '{"experimental":"enabled"}' | sudo tee /etc/docker/daemon.json
  - mkdir -p $HOME/.docker
  - echo '{"experimental":"enabled"}' | sudo tee $HOME/.docker/config.json
  - sudo service docker start

install:
  - docker --version
  - docker-compose --version
  - echo "KAFKA VERSION  $KAFKA_VERSION"
  - echo "SCALA VERSION  $TRAVIS_SCALA_VERSION"
  - echo "LATEST VERSION $LATEST"
  - export CURRENT=${TRAVIS_SCALA_VERSION}-${KAFKA_VERSION}
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  - docker buildx create --name builder --use
  - docker buildx inspect
  - docker pull confluentinc/cp-kafkacat

script:
  # execute multi arch build, this will not load the image so it won't be available for testing
  - docker buildx build --progress plain --platform=$ARCHITECTURES --build-arg kafka_version=$KAFKA_VERSION --build-arg scala_version=$TRAVIS_SCALA_VERSION --build-arg vcs_ref=$TRAVIS_COMMIT --build-arg build_date=$(date -u +"%Y-%m-%dT%H:%M:%SZ") -t wurstmeister/test .
  # load the image so we can test it on the build platform
  - docker buildx build --platform linux/amd64 --build-arg kafka_version=$KAFKA_VERSION --build-arg scala_version=$TRAVIS_SCALA_VERSION --build-arg vcs_ref=$TRAVIS_COMMIT --build-arg build_date=$(date -u +"%Y-%m-%dT%H:%M:%SZ") -t wurstmeister/kafka --load .
  - docker-compose -f test/docker-compose.yml up -d zookeeper kafka_1 kafka_2
  # Shellcheck main source files
  - shellcheck -s bash broker-list.sh create-topics.sh start-kafka.sh download-kafka.sh versions.sh
  - cd test
  # Shellcheck the tests
  - shellcheck -x -e SC1090 -s bash *.sh **/*.sh
  - ./verifyImageLabels.sh # Verify docker image's label
  - sleep 5 # Wait for containers to start
  - docker-compose logs
  - docker ps -a
  - ./runAllTests.sh
  # End-to-End scenario tests
  - cd scenarios
  - ./runJmxScenario.sh
  - cd $TRAVIS_BUILD_DIR

after_script:
  - docker-compose stop

# This will deploy from master. Might want to have a single release branch for a little more control
deploy:
  - provider: script
    script: bash docker_push latest
    on:
      repo: wurstmeister/kafka-docker
      branch: multi-arch
      condition: $CURRENT = $LATEST
  - provider: script
    script: bash docker_push "${TRAVIS_SCALA_VERSION}-${KAFKA_VERSION}"
    on:
      repo: wurstmeister/kafka-docker
      # branch: release
